[Desktop Entry]
Version=1.0
Type=Application
Name=GSport
Comment=
Exec=gsport
Icon=/usr/share/a2pi/a2pi.png
Path=/home/apple2
Terminal=false
StartupNotify=false
GenericName=Apple II GS emulator
Comment[en_US]=Apple II GS emulator
